$turquoise: #24d3ee;
$blue: #3d21d2;
$purple: #b7a0f6;
$gray: #5a678e;
$gray-200: #4e585d;
$gray-700: #bbb;
$gray-900: #f3f4f5;
$red: #f44336;

$white: white;
$black: black;
$gray-light: $gray-900;

$primary: $red;
$secondary: $gray-200;
$body-color: $gray;
$border-color: $gray-light;
$danger: $red;

$body-color: #674e51;
$body-bg: #eff0f3;

$border-color: $gray-light;
$box-shadow: 0px 4px 13px 0px rgba(57, 70, 115, 0.05);