.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active,
.wp-core-ui .button,
.wp-core-ui .button-secondary {
	border: 1px solid lighten($primary, 35%);
	background-color: white;
	box-shadow: none;
	border-radius: 2px;
	color: $primary;
	transition: background-color .5s, color .5s, border-color .5s;

	&:hover,
	&:focus,
	&:active {
		border-color: $primary;
		background-color: $primary;
		color: $white;
	}
}

.wp-core-ui .button-primary,
.wp-core-ui .button.button-primary.button-hero {
	background-color: $primary;
	border: none;
	border-radius: 2px;
	color: white;
	text-shadow: none;
	font-weight: 500;
	box-shadow: 0 11px 49px 0 rgba($primary, 0.33);
	transition: background-color .5s;
	font-size: 14px;

	&:hover,
	&:focus,
	&:active {
		box-shadow: 0 11px 49px 0 rgba($primary, 0.33);
		background-color: darken($primary, 10%);
		color: white;
	}
}

.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
	background-color: $primary !important;
	color: lighten($primary, 30%) !important;
	text-shadow: none !important;
}

.wp-core-ui .button-secondary:focus,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus {
	box-shadow: 0 0 3px rgba($primary, .8);
}